﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<style>
    footer {
        background-color: midnightblue;
    }

    td a {
        width: 60px;
    }

    .navigation {
        position: fixed;
        width: 125px;
        height: 100%;
        background-color: #3e0748;
        transition: 0.5s;
        overflow: hidden;
        top: 0px;
    }

        .navigation:hover {
            width: 175px;
        }

        .navigation ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

            .navigation ul li {
                position: relative;
                width: 100%;
                margin-left: 10px;
                list-style: none;
            }

                .navigation ul li:hover {
                    background-color: #ea1d63;
                }

                .navigation ul li a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: #fff;
                }

                    .navigation ul li a .icon {
                        position: relative;
                        display: block;
                        min-width: 25px;
                        height: 25px;
                        line-height: 60px;
                        text-align: center;
                        margin-right: 10px;
                    }

                    .navigation ul li a .title {
                        position: relative;
                        display: block;
                        padding: 0 10px;
                        min-width: 25px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                    }
</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoTFG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark text-white">
    <header>

        <div class="navigation">
            <ul class="navbar-nav flex-grow-1">

                <li class="title mb-1">
                    <h2 style="border-bottom: 3px solid #ea1d63">
                        <a asp-controller="Login" asp-action="Index">
                            Library
                        </a>
                    </h2>
                </li>
                <li class="nav-item">
                    <a class="nav-link title" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill icon" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link title" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill icon" viewBox="0 0 16 16">
                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                        Privacy
                    </a>
                </li>

                @if (@Context.Session.GetString("usuario") != null)
                {
                    string[] controlermn = Context.Session.GetString("controlermn").Split(",");
                    string[] actionmn = Context.Session.GetString("actionmn").Split(",");
                    string[] labelmn = Context.Session.GetString("labelmn").Split(",");

                    for (int i = 0; i < controlermn.Length - 1; i++)
                    {
                        <li class="nav-item">
                            <a class="nav-link title" asp-area="" asp-controller="@controlermn[i]" asp-action="@actionmn[i]">@labelmn[i]</a>
                        </li>

                    }

                    <li class="nav-item mx-1">
                        <a class="nav-link title" style="background-color: red" asp-area="" asp-controller="Login" asp-action="Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                            </svg>
                            Logout
                        </a>
                    </li>
                }
            </ul>
        </div>

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Library</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>

                            @foreach (Menu menu in ProyectoTFG.Controllers.MenusController.Menus)
                            {
                                <li class="nav-item">
                                    <a class="nav-link font-weight-light" asp-area="" asp-controller="@menu.Controller" asp-action="@menu.Action">@menu.Label</a>
                                </li>
                            }

                            @if (@Context.Session.GetString("usuario") != null)
                            {
                                <li class="nav-item" style="margin-left: auto;">
                                    <a class="nav-link btn btn-secondary" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                </li>

                                <li class="nav-item mx-1">
                                    <a class="nav-link btn btn-danger" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-2">
        <div class="container text-white">
            &copy; 2022 - ProyectoTFG - José Miguel Muñoz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
