﻿@model ProyectoTFG.Models.SignLibrary

@{
    ViewData["Title"] = "Delete";
}

<div class="card mt-5" style="padding: 50px; color: black">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SignLibrary</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Library)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Library.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" />

            <a class="btn btn-info" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
                Back
            </a>
        </form>
    </div>
</div>