﻿@model ProyectoTFG.Models.Booking


@{
    ViewData["Title"] = "Create";
}

<div class="card mt-5" style="padding: 50px; color: black">
    <h1>Create</h1>

    <h4>Booking</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BookingDate" class="control-label"></label>
                    <input asp-for="BookingDate" class="form-control" />
                    <span asp-validation-for="BookingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LibraryID" class="control-label"></label>
                    <select asp-for="LibraryID" class="form-control" asp-items="ViewBag.LibraryID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MemberID" class="control-label"></label>
                    <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                </div>

                <div class="form-group">
                    <label asp-for="ZoneID" class="control-label"></label>
                    <select asp-for="ZoneID" class="form-control" asp-items="ViewBag.ZoneID"></select>
                </div>

                <div class="form-group">
                    <label asp-for="TableID" class="control-label"></label>
                    <select asp-for="TableID" class="form-control" asp-items="ViewBag.TableID"></select>
                </div>

                <div class="form-group">
                    <label asp-for="BookID" class="control-label"></label>
                    <select asp-for="BookID" class="form-control" asp-items="ViewBag.BookID"></select>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />

                    <a class="btn btn-danger" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                        Back
                    </a>
                </div>
            </form>
        </div>
    </div>

    @if (TempData["errorMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["errorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
