﻿@{
   @using Microsoft.AspNetCore.Http;

   ViewData["Title"] = "Home Page";
}

<style>
    body {
        color: white;
        background-image: url(img/Library.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: contain;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@Context.Session.GetString("usuarioName")</h2>
</div>
