﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card mt-5" style="padding: 50px; color: black">
    <p>Use this page to detail your site's privacy policy.</p>
</div>